/* ----- common ----- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: rgb(185, 183, 179);
}

/* ----- title ----- */
h1 {
  font-size: 40px;
}

/* ----- slider ----- */
section.slider {
  height: 600px;
  width: 900px;
}

/* images */
div.images {
  position: relative;
  height: 90%;
  border: 3px solid rgb(112, 111, 108);
  border-bottom: none;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

span.prev_switch,
span.next_switch {
  position: absolute;
  height: 100%;
  width: 15%;
  cursor: pointer;
  z-index: 1;
}
span.prev_switch {
  left: 0;
}
span.next_switch {
  right: 0;
}

.control_interval {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.pause_image,
.play_image {
  cursor: pointer;
  padding: 5px;
  font-size: 25px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.5);
}

/* controls */
section .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 12px 12px;
  border: 5px solid rgb(112, 111, 108);
}

.controls i {
  cursor: pointer;
  transition: all 0.15s linear;
}

.controls .prev i,
.controls .next i {
  font-size: 30px;
}

.controls .circle > i {
  margin: 5px;
  font-size: 15px;
}
.controls .circle > i:hover {
  transform: scale(1.3);
}

/* media */
@media screen and (max-width: 920px) {
  section.slider {
    height: 80vh;
    width: 90%;
  }
  div.images,
  section .controls {
    border: 2px solid rgb(112, 111, 108);
  }
  div.images {
    border-bottom: none;
  }
}
